

.div-informacion-personal{
    margin:auto;
    margin-top: -32px;
    padding: 10px;
    height: 23vh;
    width: 110%;
    background-color: white;
    list-style: none;
    border-radius: 10px 10px 0 0;
    border-width: 0 0 0 0 ;
    border-style: solid;    
}

.div-eliminar-cuenta{
    margin: auto;
    padding: 10px;
    height: 20vh;
    width: 110%;
    background-color: white;
    list-style: none;
    border-radius:0 0 10px 10px;
    border-width: 1.5px 0 0 0 ;
    border-style: solid;
}

.div-eliminar-cuenta .btn{
    margin-left: 255px;
    margin-top: 40px;
}
.div-eliminar-cuenta h4{
    margin-top: 30px;
}
.div-informacion-personal li a{
    text-decoration: none;
    color: blue;
}
.div-eliminar-cuenta li a{
    text-decoration: none;
    color:blue;
}